html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.maintitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tasks ul li {
  list-style: none;
}

.tasks ul li input {
  margin: 0 0.5rem;
  border: none;
}

.tasks ul li input:focus {
  outline: none;
}

.tached {
  text-decoration: line-through;
}
